In [ ]:
import pandas as pd
ruta = "../../Data/Data Cruda/game_summary.csv"
df = pd.read_csv(ruta)

In [3]:
df.head(100
        )

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1946-12-26 00:00:00,NaN,24600116,3,NaN,19461226/DEFBOM,1610610034,1610610028,1946,4,NaN,NaN,Q4 -,1
96,1946-12-27 00:00:00,NaN,24600119,3,NaN,19461227/PHWBOS,1610612738,1610612744,1946,4,NaN,NaN,Q4 -,1
97,1946-12-28 00:00:00,NaN,24600121,3,NaN,19461228/NYKWAS,1610610036,1610612752,1946,4,NaN,NaN,Q4 -,1
98,1946-12-28 00:00:00,NaN,24600120,3,NaN,19461228/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
99,1946-12-29 00:00:00,NaN,24600122,3,NaN,19461229/CHSCLR,1610610026,1610610025,1946,5,NaN,NaN,Q5 -,1

In [2]:
# Ver cuÃ¡ntas filas duplicadas hay (excluyendo el Ã­ndice)
duplicados = df.duplicated()
print("Cantidad de filas duplicadas:", duplicados.sum())

Cantidad de filas duplicadas: 40

In [3]:
# Mostrar las filas duplicadas
df_duplicadas = df[df.duplicated()]
print(df_duplicadas)

             game_date_est  game_sequence   game_id  game_status_id  \
1614   1951-03-02 00:00:00            1.0  35000001               3
1922   1952-02-11 00:00:00            1.0  35100001               3
2245   1953-01-13 00:00:00            1.0  35200001               3
2540   1954-01-21 00:00:00            1.0  35300004               3
2809   1955-01-18 00:00:00            1.0  35400001               3
3080   1956-01-24 00:00:00            1.0  35500001               3
3339   1957-01-15 00:00:00            1.0  35600001               3
3590   1958-01-21 00:00:00            1.0  35700001               3
3833   1959-01-23 00:00:00            1.0  35800001               3
4132   1962-01-16 00:00:00            1.0  36103001               3
4456   1963-01-16 00:00:00            1.0  36200001               3
5450   1967-01-10 00:00:00            1.0  36600001               3
6407   1969-01-14 00:00:00            1.0  36800001               3
6931   1970-01-20 00:00:00            1.0  36900001               3
6967   1971-01-12 00:00:00            1.0  37000001               3
8237   1973-01-23 00:00:00            1.0  37200001               3
9627   1977-02-13 00:00:00            1.0  37600027               3
14543  1983-02-13 00:00:00            1.0  38200001               3
18130  1987-02-08 00:00:00            1.0  38600001               3
19040  1988-02-07 00:00:00            1.0  38700001               3
19996  1989-02-12 00:00:00            1.0  38800002               3
22098  1991-02-10 00:00:00            1.0  39000002               3
23143  1992-02-09 00:00:00            1.0  39100002               3
24184  1993-02-21 00:00:00            2.0  39210001               3
26210  1995-02-12 00:00:00            1.0  39400001               3
27264  1996-02-11 00:00:00            1.0  39500001               3
28367  1997-02-09 00:00:00            1.0  39600001               3
31282  2000-02-13 00:00:00            1.0  39900001               3
34614  2003-02-09 00:00:00            1.0  30200001               3
35734  2004-02-15 00:00:00            1.0  30300001               3
38111  2006-02-19 00:00:00            1.0  30500001               3
39378  2007-02-18 00:00:00            1.0  30600001               3
40669  2008-02-17 00:00:00            1.0  30700001               3
43227  2010-02-14 00:00:00            1.0  30900001               3
44548  2011-02-20 00:00:00            1.0  31000001               3
45731  2013-02-17 00:00:00            1.0  31200001               3
48343  2015-02-15 00:00:00            1.0  31400001               3
50938  2017-02-19 00:00:00            1.0  31600001               3
53410  2019-02-17 00:00:00            1.0  31800001               3
58109  2023-02-19 00:00:00            1.0  32200001               3

      game_status_text         gamecode  home_team_id  visitor_team_id  \
1614             Final  19510302/WSTEST    1610616833       1610616834
1922             Final  19520211/WSTEST    1610616833       1610616834
2245             Final  19530113/WSTEST    1610616833       1610616834
2540             Final  19540121/WSTEST    1610616833       1610616834
2809             Final  19550118/WSTEST    1610616833       1610616834
3080             Final  19560124/WSTEST    1610616833       1610616834
3339             Final  19570115/WSTEST    1610616833       1610616834
3590             Final  19580121/ESTWST    1610616834       1610616833
3833             Final  19590123/WSTEST    1610616833       1610616834
4132             Final  19620116/WSTEST    1610616833       1610616834
4456             Final  19630116/WSTEST    1610616833       1610616834
5450             Final  19670110/WSTEST    1610616833       1610616834
6407             Final  19690114/WSTEST    1610616833       1610616834
6931             Final  19700120/WSTEST    1610616833       1610616834
6967             Final  19710112/WSTEST    1610616833       1610616834
8237             Final  19730123/ESTWST    1610616834       1610616833
9627             Final  19770213/ESTWST    1610616834       1610616833
14543            Final  19830213/ESTWST    1610616834       1610616833
18130            Final  19870208/WSTEST    1610616833       1610616834
19040            Final  19880207/WSTEST    1610616833       1610616834
19996            Final  19890212/ESTWST    1610616834       1610616833
22098            Final  19910210/ESTWST    1610616834       1610616833
23143            Final  19920209/WSTEST    1610616833       1610616834
24184            Final  19930221/ESTWST    1610616834       1610616833
26210            Final  19950212/WSTEST    1610616833       1610616834
27264            Final  19960211/WSTEST    1610616833       1610616834
28367            Final  19970209/WSTEST    1610616833       1610616834
31282            Final  20000213/ESTWST    1610616834       1610616833
34614            Final  20030209/WSTEST    1610616833       1610616834
35734            Final  20040215/ESTWST    1610616834       1610616833
38111            Final  20060219/ESTWST    1610616834       1610616833
39378            Final  20070218/ESTWST    1610616834       1610616833
40669            Final  20080217/ESTWST    1610616834       1610616833
43227            Final  20100214/ESTWST    1610616834       1610616833
44548            Final  20110220/ESTWST    1610616834       1610616833
45731            Final  20130217/ESTWST    1610616834       1610616833
48343            Final  20150215/WSTEST    1610616833       1610616834
50938            Final  20170219/ESTWST    1610616834       1610616833
53410            Final  20190217/LBNGNS    1610616833       1610616834
58109            Final  20230219/GNSLBN    1610616834       1610616833

       season  live_period live_pc_time natl_tv_broadcaster_abbreviation  \
1614     1950            4          NaN                              NaN
1922     1951            4          NaN                              NaN
2245     1952            4          NaN                              NaN
2540     1953            4          NaN                              NaN
2809     1954            4          NaN                              NaN
3080     1955            4          NaN                              NaN
3339     1956            4          NaN                              NaN
3590     1957            4          NaN                              NaN
3833     1958            4          NaN                              NaN
4132     1961            4          NaN                              NaN
4456     1962            4          NaN                              NaN
5450     1966            4          NaN                              NaN
6407     1968            4          NaN                              NaN
6931     1969            4          NaN                              NaN
6967     1970            4          NaN                              NaN
8237     1972            4          NaN                              NaN
9627     1976            4          NaN                              NaN
14543    1982            4          NaN                              NaN
18130    1986            4          NaN                              NaN
19040    1987            4          NaN                              NaN
19996    1988            4          NaN                              NaN
22098    1990            4          NaN                              NaN
23143    1991            4          NaN                              NaN
24184    1992            4          NaN                              NaN
26210    1994            4          NaN                              NaN
27264    1995            4          NaN                              NaN
28367    1996            4          NaN                              NaN
31282    1999            4          NaN                              NaN
34614    2002            6          NaN                              NaN
35734    2003            4          NaN                              TNT
38111    2005            4          NaN                              TNT
39378    2006            4          NaN                              TNT
40669    2007            4          NaN                              TNT
43227    2009            4          NaN                              TNT
44548    2010            4          NaN                              TNT
45731    2012            4          NaN                              TNT
48343    2014            4          NaN                              TNT
50938    2016            4          NaN                              TNT
53410    2018            4          NaN                              TNT
58109    2022            4                                       TNT/TBS

      live_period_time_bcast  wh_status
1614                  Q4  -           1
1922                  Q4  -           1
2245                  Q4  -           1
2540                  Q4  -           1
2809                  Q4  -           1
3080                  Q4  -           1
3339                  Q4  -           1
3590                  Q4  -           1
3833                  Q4  -           1
4132                  Q4  -           1
4456                  Q4  -           1
5450                  Q4  -           1
6407                  Q4  -           1
6931                  Q4  -           1
6967                  Q4  -           1
8237                  Q4  -           1
9627                  Q4  -           1
14543                 Q4  -           1
18130                 Q4  -           1
19040                 Q4  -           1
19996                 Q4  -           1
22098                 Q4  -           1
23143                 Q4  -           1
24184                 Q4  -           1
26210                 Q4  -           1
27264                 Q4  -           1
28367                 Q4  -           1
31282                 Q4  -           1
34614                 Q6  -           1
35734              Q4  - TNT          1
38111              Q4  - TNT          1
39378              Q4  - TNT          1
40669              Q4  - TNT          1
43227              Q4  - TNT          1
44548              Q4  - TNT          1
45731              Q4  - TNT          1
48343              Q4  - TNT          1
50938              Q4  - TNT          1
53410              Q4  - TNT          1
58109     Q4       - TNT/TBS          1

In [4]:
# Mostrar todas las filas que estÃ¡n duplicadas (incluyendo los originales)
df_duplicados_completos = df[df.duplicated(keep=False)]

# Ver el resultado en forma de tabla
print(df_duplicados_completos)

             game_date_est  game_sequence   game_id  game_status_id  \
1613   1951-03-02 00:00:00            1.0  35000001               3
1614   1951-03-02 00:00:00            1.0  35000001               3
1921   1952-02-11 00:00:00            1.0  35100001               3
1922   1952-02-11 00:00:00            1.0  35100001               3
2244   1953-01-13 00:00:00            1.0  35200001               3
...                    ...            ...       ...             ...
50938  2017-02-19 00:00:00            1.0  31600001               3
53409  2019-02-17 00:00:00            1.0  31800001               3
53410  2019-02-17 00:00:00            1.0  31800001               3
58108  2023-02-19 00:00:00            1.0  32200001               3
58109  2023-02-19 00:00:00            1.0  32200001               3

      game_status_text         gamecode  home_team_id  visitor_team_id  \
1613             Final  19510302/WSTEST    1610616833       1610616834
1614             Final  19510302/WSTEST    1610616833       1610616834
1921             Final  19520211/WSTEST    1610616833       1610616834
1922             Final  19520211/WSTEST    1610616833       1610616834
2244             Final  19530113/WSTEST    1610616833       1610616834
...                ...              ...           ...              ...
50938            Final  20170219/ESTWST    1610616834       1610616833
53409            Final  20190217/LBNGNS    1610616833       1610616834
53410            Final  20190217/LBNGNS    1610616833       1610616834
58108            Final  20230219/GNSLBN    1610616834       1610616833
58109            Final  20230219/GNSLBN    1610616834       1610616833

       season  live_period live_pc_time natl_tv_broadcaster_abbreviation  \
1613     1950            4          NaN                              NaN
1614     1950            4          NaN                              NaN
1921     1951            4          NaN                              NaN
1922     1951            4          NaN                              NaN
2244     1952            4          NaN                              NaN
...       ...          ...          ...                              ...
50938    2016            4          NaN                              TNT
53409    2018            4          NaN                              TNT
53410    2018            4          NaN                              TNT
58108    2022            4                                       TNT/TBS
58109    2022            4                                       TNT/TBS

      live_period_time_bcast  wh_status
1613                  Q4  -           1
1614                  Q4  -           1
1921                  Q4  -           1
1922                  Q4  -           1
2244                  Q4  -           1
...                      ...        ...
50938              Q4  - TNT          1
53409              Q4  - TNT          1
53410              Q4  - TNT          1
58108     Q4       - TNT/TBS          1
58109     Q4       - TNT/TBS          1

[80 rows x 14 columns]

In [6]:
df_sin_duplicados = df.drop_duplicates().reset_index(drop=True)
df = df_sin_duplicados

In [7]:
df.head(100)  # Mostrar las primeras 100 filas del DataFrame sin duplicado

,game_date_est,game_sequence,game_id,game_status_id,game_status_text,gamecode,home_team_id,visitor_team_id,season,live_period,live_pc_time,natl_tv_broadcaster_abbreviation,live_period_time_bcast,wh_status
0,1946-11-01 00:00:00,NaN,24600001,3,NaN,19461101/NYKHUS,1610610035,1610612752,1946,5,NaN,NaN,Q5 -,1
1,1946-11-02 00:00:00,NaN,24600003,3,NaN,19461102/PITBOM,1610610034,1610610031,1946,4,NaN,NaN,Q4 -,1
2,1946-11-02 00:00:00,NaN,24600002,3,NaN,19461102/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
3,1946-11-02 00:00:00,NaN,24600004,3,NaN,19461102/NYKCHS,1610610025,1610612752,1946,4,NaN,NaN,Q4 -,1
4,1946-11-02 00:00:00,NaN,24600005,3,NaN,19461102/WASDEF,1610610028,1610610036,1946,4,NaN,NaN,Q4 -,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1946-12-26 00:00:00,NaN,24600116,3,NaN,19461226/DEFBOM,1610610034,1610610028,1946,4,NaN,NaN,Q4 -,1
96,1946-12-27 00:00:00,NaN,24600119,3,NaN,19461227/PHWBOS,1610612738,1610612744,1946,4,NaN,NaN,Q4 -,1
97,1946-12-28 00:00:00,NaN,24600121,3,NaN,19461228/NYKWAS,1610610036,1610612752,1946,4,NaN,NaN,Q4 -,1
98,1946-12-28 00:00:00,NaN,24600120,3,NaN,19461228/BOSPRO,1610610032,1610612738,1946,4,NaN,NaN,Q4 -,1
99,1946-12-29 00:00:00,NaN,24600122,3,NaN,19461229/CHSCLR,1610610026,1610610025,1946,5,NaN,NaN,Q5 -,1

In [8]:
duplicados = df.duplicated()
print("Cantidad de filas duplicadas:", duplicados.sum())

Cantidad de filas duplicadas: 0

In [9]:
print(df.isnull().sum())
porcentaje_nulos = df.isnull().mean() * 100
print(porcentaje_nulos)

game_date_est                           0
game_sequence                       25532
game_id                                 0
game_status_id                          0
game_status_text                    25986
gamecode                                0
home_team_id                            0
visitor_team_id                         0
season                                  0
live_period                             0
live_pc_time                        56047
natl_tv_broadcaster_abbreviation    51878
live_period_time_bcast                  0
wh_status                               0
dtype: int64
game_date_est                        0.000000
game_sequence                       43.967625
game_id                              0.000000
game_status_id                       0.000000
game_status_text                    44.749440
gamecode                             0.000000
home_team_id                         0.000000
visitor_team_id                      0.000000
season                               0.000000
live_period                          0.000000
live_pc_time                        96.516273
natl_tv_broadcaster_abbreviation    89.337007
live_period_time_bcast               0.000000
wh_status                            0.000000
dtype: float64

In [10]:
print("Valores Ãºnicos no nulos de 'game_sequence':")
print(df['game_sequence'].dropna().unique()[:5])  # Muestra los primeros 5 distintos

print("\nValores Ãºnicos no nulos de 'game_status_text':")
print(df['game_status_text'].dropna().unique()[:5])

Valores Ãºnicos no nulos de 'game_sequence':
[1. 2. 6. 5. 4.]

Valores Ãºnicos no nulos de 'game_status_text':
['Final' '7:00 pm ET' '8:00 pm ET' '4th Qtr' 'Final               ']

In [14]:
df = df.drop(columns=['game_sequence', 'game_status_text','natl_tv_broadcaster_abbreviation','live_pc_time'])

In [15]:
print(df.isnull().sum())
porcentaje_nulos = df.isnull().mean() * 100
print(porcentaje_nulos)

game_date_est             0
game_id                   0
game_status_id            0
gamecode                  0
home_team_id              0
visitor_team_id           0
season                    0
live_period               0
live_period_time_bcast    0
wh_status                 0
dtype: int64
game_date_est             0.0
game_id                   0.0
game_status_id            0.0
gamecode                  0.0
home_team_id              0.0
visitor_team_id           0.0
season                    0.0
live_period               0.0
live_period_time_bcast    0.0
wh_status                 0.0
dtype: float64

In [ ]:
# ReemplazÃ¡ la ruta con la que quieras
ruta_guardado = "../../Data/Data Limpia/game_summary_limpio.csv"
# Guardar sin el Ã­ndice
df.to_csv(ruta_guardado, index=False)

In [ ]:
import pandas as pd
ruta =  "../../Data/Data Limpia/game_summary_limpio.csv"
df = pd.read_csv(ruta)

In [2]:
df['game_date_est'] = pd.to_datetime(df['game_date_est'])

In [3]:
df = df[df['game_date_est'] >= '2018-01-01']

In [ ]:
ruta= "../../Data/Data Limpia/game_summary_limpio.csv"
df.to_csv(ruta, index=False)