In [18]:
# üìå Importamos las librer√≠as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# üìå Ruta del archivo CSV
ruta = r"C:\Users\Usuario\Desktop\CSV A LIMPIAR\other_stats.csv"

# üìå Cargamos el CSV
df_inactive = pd.read_csv(r"C:\Users\Usuario\Desktop\CSV A LIMPIAR\other_stats.csv", sep=';')

# üìå Mostramos estructura general del DataFrame
df_inactive.info()
df_inactive.head()
df_inactive.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24251 entries, 0 to 24250
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 24251 non-null  int64
 1   league_id               24251 non-null  int64
 2   team_id_home            24251 non-null  int64
 3   team_abbreviation_home  24251 non-null  object
 4   team_city_home          24251 non-null  object
 5   pts_paint_home          24251 non-null  int64
 6   pts_2nd_chance_home     24251 non-null  int64
 7   pts_fb_home             24251 non-null  int64
 8   largest_lead_home       24251 non-null  int64
 9   lead_changes            24251 non-null  int64
 10  times_tied              24251 non-null  int64
 11  team_turnovers_home     24251 non-null  object
 12  total_turnovers_home    24251 non-null  object
 13  team_rebounds_home      24251 non-null  object
 14  pts_off_to_home         24251 non-null  object
 15  team_id_away            24251 non-null  int64
 16  team_abbreviation_away  24251 non-null  object
 17  team_city_away          24251 non-null  object
 18  pts_paint_away          24251 non-null  int64
 19  pts_2nd_chance_away     24251 non-null  int64
 20  pts_fb_away             24251 non-null  int64
 21  largest_lead_away       24251 non-null  int64
 22  team_turnovers_away     24251 non-null  object
 23  total_turnovers_away    24251 non-null  object
 24  team_rebounds_away      24251 non-null  object
 25  pts_off_to_away         24251 non-null  object
dtypes: int64(14), object(12)
memory usage: 4.8+ MB

(24251, 26)

In [19]:
# üìå Mostrar cantidad de valores nulos por columna
nulos = df_inactive.isnull().sum()
nulos = nulos[nulos > 0].sort_values(ascending=False)

print("üìä Valores nulos por columna:")
print(nulos)

üìä Valores nulos por columna:
Series([], dtype: int64)

In [20]:
# üìå Paso 1: Detectar filas duplicadas (todas las columnas)
duplicados = df_inactive[df_inactive.duplicated(keep=False)]

# üìå Paso 2: Contar cu√°ntas veces se repite cada fila duplicada
resumen_duplicados = duplicados.value_counts().reset_index(name='Repeticiones')

# üìå Paso 3: Mostrar resumen
print(f"üîÅ Total de filas duplicadas: {len(duplicados)}")
print("üìã Resumen de duplicados (filas id√©nticas):")
print(resumen_duplicados.head())

# üìå Paso 4: Mostrar tabla de duplicados
duplicados

üîÅ Total de filas duplicadas: 18
üìã Resumen de duplicados (filas id√©nticas):
    game_id  league_id  team_id_home team_abbreviation_home  \
0  30200001          0    1610616834                    WST
1  30900001          0    1610616833                    EST
2  31000001          0    1610616834                    WST
3  31200001          0    1610616833                    EST
4  31400001          0    1610616834                    WST

       team_city_home  pts_paint_home  pts_2nd_chance_home  pts_fb_home  \
0  West NBA All Stars              88                   21           32
1  East NBA All Stars              88                   11           56
2  West NBA All Stars              80                   35           43
3  East NBA All Stars              66                   15           21
4  West NBA All Stars              68                   22           59

   largest_lead_home  lead_changes  ...      team_city_away pts_paint_away  \
0                 11            26  ...  East NBA All Stars             64
1                 16            13  ...  West NBA All Stars             74
2                 17             1  ...  East NBA All Stars             86
3                  2            22  ...  West NBA All Stars             88
4                 20            17  ...  East NBA All Stars             82

  pts_2nd_chance_away pts_fb_away largest_lead_away  team_turnovers_away  \
0                  15          31                10                  1,0
1                  21          24                 7                  0,0
2                  22          53                 4                  0,0
3                  13          38                11                  0,0
4                  25          61                 4                  0,0

  total_turnovers_away team_rebounds_away  pts_off_to_away  Repeticiones
0                 23,0               11,0             31,0             2
1                 23,0                7,0             31,0             2
2                 21,0               11,0             29,0             2
3                 15,0                7,0             26,0             2
4                 18,0                6,0             18,0             2

[5 rows x 27 columns]

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
1660,39900001,0,1610616833,EST,East NBA All Stars,54,29,21,2,2,...,WST,West NBA All Stars,86,34,26,17,"1,0","22,0","5,0","24,0"
1661,39900001,0,1610616833,EST,East NBA All Stars,54,29,21,2,2,...,WST,West NBA All Stars,86,34,26,17,"1,0","22,0","5,0","24,0"
4641,30200001,0,1610616834,WST,West NBA All Stars,88,21,32,11,26,...,EST,East NBA All Stars,64,15,31,10,"1,0","23,0","11,0","31,0"
4642,30200001,0,1610616834,WST,West NBA All Stars,88,21,32,11,26,...,EST,East NBA All Stars,64,15,31,10,"1,0","23,0","11,0","31,0"
10397,30900001,0,1610616833,EST,East NBA All Stars,88,11,56,16,13,...,WST,West NBA All Stars,74,21,24,7,"0,0","23,0","7,0","31,0"
10398,30900001,0,1610616833,EST,East NBA All Stars,88,11,56,16,13,...,WST,West NBA All Stars,74,21,24,7,"0,0","23,0","7,0","31,0"
11632,31000001,0,1610616834,WST,West NBA All Stars,80,35,43,17,1,...,EST,East NBA All Stars,86,22,53,4,"0,0","21,0","11,0","29,0"
11633,31000001,0,1610616834,WST,West NBA All Stars,80,35,43,17,1,...,EST,East NBA All Stars,86,22,53,4,"0,0","21,0","11,0","29,0"
12726,31200001,0,1610616833,EST,East NBA All Stars,66,15,21,2,22,...,WST,West NBA All Stars,88,13,38,11,"0,0","15,0","7,0","26,0"
12727,31200001,0,1610616833,EST,East NBA All Stars,66,15,21,2,22,...,WST,West NBA All Stars,88,13,38,11,"0,0","15,0","7,0","26,0"
15173,31400001,0,1610616834,WST,West NBA All Stars,68,22,59,20,17,...,EST,East NBA All Stars,82,25,61,4,"0,0","18,0","6,0","18,0"
15174,31400001,0,1610616834,WST,West NBA All Stars,68,22,59,20,17,...,EST,East NBA All Stars,82,25,61,4,"0,0","18,0","6,0","18,0"
17590,31600001,0,1610616834,WST,West NBA All Stars,120,23,106,15,16,...,EST,East NBA All Stars,106,14,107,8,"0,0","19,0","4,0","25,0"
17591,31600001,0,1610616834,WST,West NBA All Stars,120,23,106,15,16,...,EST,East NBA All Stars,106,14,107,8,"0,0","19,0","4,0","25,0"
19880,31800001,0,1610616833,GNS,Team,78,26,37,20,9,...,LBN,Team,62,19,33,16,"0,0","9,0","5,0","12,0"
19881,31800001,0,1610616833,GNS,Team,78,26,37,20,9,...,LBN,Team,62,19,33,16,"0,0","9,0","5,0","12,0"
24249,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,"0,0","12,0","3,0","20,0"
24250,32200001,0,1610616834,LBN,Team,118,15,27,4,24,...,GNS,Team,88,14,33,19,"0,0","12,0","3,0","20,0"

In [21]:
# üìå Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# üìå Ver las primeras filas con nulos
filas_con_nulos.head()

Empty DataFrame
Columns: [game_id, league_id, team_id_home, team_abbreviation_home, team_city_home, pts_paint_home, pts_2nd_chance_home, pts_fb_home, largest_lead_home, lead_changes, times_tied, team_turnovers_home, total_turnovers_home, team_rebounds_home, pts_off_to_home, team_id_away, team_abbreviation_away, team_city_away, pts_paint_away, pts_2nd_chance_away, pts_fb_away, largest_lead_away, team_turnovers_away, total_turnovers_away, team_rebounds_away, pts_off_to_away]
Index: []

[0 rows x 26 columns]

In [22]:
# Lista de columnas que quer√©s revisar
columnas_a_verificar = ['game_id', 'team_id_home', 'team_abbreviation_home', 'team_city_home', 'pts_paint_home', 'pts_2nd_chance_home', 'pts_fb_home', 'largest_lead_home', 'lead_changes', 'team_abbreviation_away', 'team_city_away', 'pts_off_to_away', 'total_turnovers_away', 'team_rebounds_away']

# Eliminar filas donde alguna de esas columnas tiene valores nulos
df_inactive = df_inactive[~df_inactive[columnas_a_verificar].isnull().any(axis=1)]

In [23]:
# üìå Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# üìå Ver las primeras filas con nulos
filas_con_nulos.head()

Empty DataFrame
Columns: [game_id, league_id, team_id_home, team_abbreviation_home, team_city_home, pts_paint_home, pts_2nd_chance_home, pts_fb_home, largest_lead_home, lead_changes, times_tied, team_turnovers_home, total_turnovers_home, team_rebounds_home, pts_off_to_home, team_id_away, team_abbreviation_away, team_city_away, pts_paint_away, pts_2nd_chance_away, pts_fb_away, largest_lead_away, team_turnovers_away, total_turnovers_away, team_rebounds_away, pts_off_to_away]
Index: []

[0 rows x 26 columns]

In [24]:
df_inactive.info()
df_inactive.head()
df_inactive.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24251 entries, 0 to 24250
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 24251 non-null  int64
 1   league_id               24251 non-null  int64
 2   team_id_home            24251 non-null  int64
 3   team_abbreviation_home  24251 non-null  object
 4   team_city_home          24251 non-null  object
 5   pts_paint_home          24251 non-null  int64
 6   pts_2nd_chance_home     24251 non-null  int64
 7   pts_fb_home             24251 non-null  int64
 8   largest_lead_home       24251 non-null  int64
 9   lead_changes            24251 non-null  int64
 10  times_tied              24251 non-null  int64
 11  team_turnovers_home     24251 non-null  object
 12  total_turnovers_home    24251 non-null  object
 13  team_rebounds_home      24251 non-null  object
 14  pts_off_to_home         24251 non-null  object
 15  team_id_away            24251 non-null  int64
 16  team_abbreviation_away  24251 non-null  object
 17  team_city_away          24251 non-null  object
 18  pts_paint_away          24251 non-null  int64
 19  pts_2nd_chance_away     24251 non-null  int64
 20  pts_fb_away             24251 non-null  int64
 21  largest_lead_away       24251 non-null  int64
 22  team_turnovers_away     24251 non-null  object
 23  total_turnovers_away    24251 non-null  object
 24  team_rebounds_away      24251 non-null  object
 25  pts_off_to_away         24251 non-null  object
dtypes: int64(14), object(12)
memory usage: 4.8+ MB

(24251, 26)

In [25]:
# üìå Mostrar filas que contienen al menos un valor nulo
filas_con_nulos = df_inactive[df_inactive.isnull().any(axis=1)]

# üìå Ver las primeras filas con nulos
filas_con_nulos.head()

Empty DataFrame
Columns: [game_id, league_id, team_id_home, team_abbreviation_home, team_city_home, pts_paint_home, pts_2nd_chance_home, pts_fb_home, largest_lead_home, lead_changes, times_tied, team_turnovers_home, total_turnovers_home, team_rebounds_home, pts_off_to_home, team_id_away, team_abbreviation_away, team_city_away, pts_paint_away, pts_2nd_chance_away, pts_fb_away, largest_lead_away, team_turnovers_away, total_turnovers_away, team_rebounds_away, pts_off_to_away]
Index: []

[0 rows x 26 columns]

In [ ]:
# üìå Exportar el DataFrame limpio a CSV
df_inactive.to_csv(
    r"C:\Users\Usuario\Desktop\CSV A LIMPIAR\other_stats_limpio.csv", sep=',', index=False, decimal='.')

print("‚úÖ Archivo exportado correctamente como other_stats_limpio.csv")

‚úÖ Archivo exportado correctamente como game_info_limpio.csv